@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box; }

.container {
  width: 96%;
  max-width: 1920px;
  margin: 0 auto; }

body {
  font-family: 'Barlow', sans-serif;
  --font-barlow: 'Barlow', sans-serif; }

main {
  overflow: hidden;
  padding-top: 80px; }

header {
  box-shadow: 0px 4px 5px #7e7e7e;
  background-color: #fff;
  padding: 14px 0;
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 5; }
  header nav {
    justify-content: space-between;
    align-items: center;
    display: flex; }
  header .logo img {
    width: 150px; }
  header .menu ul {
    list-style: none; }
    header .menu ul li {
      display: inline-block;
      margin: 0 80px;
      font-weight: 400;
      font-size: 20px;
      line-height: 34px; }
      header .menu ul li a {
        text-decoration: none;
        color: #050505; }
    header .menu ul li.select {
      font-weight: 500; }
    header .menu ul li.fex {
      position: relative; }

nav .menu ul li.fex:hover ul.submenu {
  display: flex; }

nav .menu ul li.fex ul.submenu {
  font-family: 'Barlow', sans-serif;
  position: absolute;
  left: 0;
  top: 35px;
  padding-left: 0;
  background-color: #fff;
  display: none;
  flex-direction: column;
  width: 200px;
  border-top: 3px solid #FCDA65; }
  nav .menu ul li.fex ul.submenu a {
    font-family: var(--font-barlow); }

nav .menu ul li.fex ul.submenu li {
  padding: 10px 20px;
  margin: 0; }

nav .menu ul li.fex ul li a {
  font-weight: 400;
  font-size: 20px;
  font-family: Barlow-light;
  display: flex;
  align-items: center; }

nav .menu ul li.fex ul.submenu li a img {
  display: none;
  /* margin-left: 10px; */
  margin-top: 5px;
  position: absolute;
  right: 20px; }

nav .menu ul li.fex ul.submenu li:hover a {
  font-weight: 500; }

nav .menu ul li.fex ul.submenu li:hover ul.primero-a a,
nav .menu ul li.fex ul.submenu li:hover ul.segundo-a a,
nav .menu ul li.fex ul.submenu li:hover ul.tercero-a a,
nav .menu ul li.fex ul.submenu li:hover ul.primero-b a,
nav .menu ul li.fex ul.submenu li:hover ul.primero-c a,
nav .menu ul li.fex ul.submenu li:hover ul.primero-d a {
  font-weight: 500; }

section.menu-mobile {
  display: none; }

nav .menu ul li.fex ul.submenu li:hover a img {
  display: block; }

nav .menu ul li.fex ul.submenu li ul {
  display: none; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-a,
nav .menu ul li.fex ul.submenu li.segundo ul.segundo-a,
nav .menu ul li.fex ul.submenu li.tercero ul.tercero-a,
nav .menu ul li.fex ul.submenu li.primero ul.primero-b,
nav .menu ul li.fex ul.submenu li.primero ul.primero-c,
nav .menu ul li.fex ul.submenu li.primero ul.primero-d {
  position: absolute;
  left: 0;
  top: 35px;
  padding-left: 0;
  background-color: #F2F2F2;
  display: none;
  flex-direction: column;
  width: 200px;
  border-top: 3px solid #FCDA65;
  left: 200px;
  top: -3px; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-b {
  width: 225px; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-c {
  width: 230px;
  top: 52px; }

nav .menu ul li.fex ul.submenu li.segundo ul.segundo-a {
  top: 52px; }

nav .menu ul li.fex ul.submenu li.tercero ul.tercero-a {
  top: 107px; }

nav .menu ul li.fex ul.submenu ul.primero-a li.tres:hover ul.primero-d {
  top: 105px;
  width: 220px; }

nav .menu ul li.fex ul.submenu li.primero:hover ul.primero-a,
nav .menu ul li.fex ul.submenu li.segundo:hover ul.segundo-a,
nav .menu ul li.fex ul.submenu li.tercero:hover ul.tercero-a,
nav .menu ul li.fex ul.submenu ul.primero-a li.uno:hover ul.primero-b,
nav .menu ul li.fex ul.submenu ul.primero-a li.dos:hover ul.primero-c,
nav .menu ul li.fex ul.submenu ul.primero-a li.tres:hover ul.primero-d {
  display: flex; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-a li:hover a,
nav .menu ul li.fex ul.submenu li.segundo ul.segundo-a li:hover a,
nav .menu ul li.fex ul.submenu li.tercero ul.tercero-a li:hover a,
nav .menu ul li.fex ul.submenu li.tercero ul.primero-b li:hover a,
nav .menu ul li.fex ul.submenu li.tercero ul.primero-c li:hover a,
nav .menu ul li.fex ul.submenu li.tercero ul.primero-d li:hover a {
  font-weight: 600; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-b li a,
nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-c li a,
nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-d li a {
  font-weight: 500; }

nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-b li:hover a,
nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-c li:hover a,
nav .menu ul li.fex ul.submenu li.primero ul.primero-a ul.primero-d li:hover a {
  font-weight: 600; }

.banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 337px;
  overflow: hidden; }
  .banner .container {
    height: 100%; }
  .banner img {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .banner .title-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .banner .title-content h1 {
      color: #fff;
      font-weight: 500;
      font-size: 36px;
      z-index: 4;
      padding: 20px 15px;
      background-color: #0B0B0B80; }

.tarj-contacto {
  background-color: #000;
  display: flex;
  padding: 19.5px 0; }
  .tarj-contacto .content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .tarj-contacto .content p {
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      color: #fff;
      display: inline-block;
      padding: 0 26px; }
    .tarj-contacto .content a {
      text-decoration: none;
      color: #000;
      padding: 16px 40px;
      background-color: #fff;
      border-radius: 10px;
      font-weight: 500;
      font-size: 17px; }

.category {
  padding: 90px 0; }
  .category .content {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .category .content p {
      font-weight: 500;
      font-size: 21px;
      padding-bottom: 30px; }
    .category .content select {
      -moz-appearance: none;
      -webkit-appearance: none;
      font-weight: 400;
      font-size: 17px;
      padding: 11px 23px;
      outline: none !important;
      border: none;
      background-color: #000;
      color: #fff;
      width: 200px;
      position: relative; }
      .category .content select option {
        outline: none !important;
        font-weight: 400;
        font-size: 17px;
        padding: 11px 23px;
        background-color: #fff;
        border: none !important;
        color: #000;
        padding: 10px 0; }
    .category .content form {
      display: flex;
      justify-content: center; }
      .category .content form div {
        position: relative;
        width: 200px; }
        .category .content form div::after {
          content: '';
          background-image: url(../images/flechacategory.svg);
          position: absolute;
          top: 13px;
          right: 15px;
          width: 10.25px;
          height: 10.5px;
          transform: rotate(-180deg);
          background-repeat: no-repeat; }

.grid-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 57px;
  padding: 0 40px;
  padding-bottom: 50px; }
  .grid-productos .producto {
    position: relative; }
    .grid-productos .producto .info {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      background-color: #000;
      padding: 11px 25px;
      align-items: center;
      justify-content: space-between; }
      .grid-productos .producto .info button {
        background-color: transparent;
        border: none;
        cursor: pointer; }
      .grid-productos .producto .info p {
        color: #fff; }
      .grid-productos .producto .info img {
        margin-left: 10px;
        width: 32px; }
    .grid-productos .producto img {
      width: 100%; }
    .grid-productos .producto .name {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: rgba(11, 11, 11, 0.5); }
      .grid-productos .producto .name p {
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        padding: 11px 0;
        color: #fff; }

.banner-img {
  padding-top: 50px;
  padding-bottom: 100px; }
  .banner-img .content {
    position: relative;
    display: flex;
    justify-content: center; }
    .banner-img .content img {
      width: 81.2%; }
    .banner-img .content .info {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #fff; }
      .banner-img .content .info h2 {
        font-weight: 500;
        font-size: 29px;
        text-align: center; }
      .banner-img .content .info p {
        font-weight: 500;
        font-size: 21px;
        text-align: center;
        margin-top: 20px; }

footer {
  margin-top: 50px; }
  footer .redes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 70px;
    padding: 0 90px;
    padding-bottom: 80px;
    position: relative; }
    footer .redes::before {
      content: '';
      width: 95%;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%); }
    footer .redes div {
      padding-top: 40px; }
    footer .redes p {
      font-weight: 400;
      font-size: 29px;
      color: #050505; }
    footer .redes a {
      font-weight: 400;
      font-size: 29px;
      text-decoration: none;
      color: #000; }
    footer .redes img {
      opacity: 0.5;
      margin-bottom: 24px; }
  footer .redes.notlinea::before {
    content: none; }
  footer .copi {
    background-color: #CDCDCD;
    display: flex;
    justify-content: center; }
    footer .copi p {
      padding: 35px 0;
      color: #7E7E7E;
      font-weight: 400;
      font-size: 24px; }

.detalles {
  padding: 100px 0; }
  .detalles .container {
    width: 80%; }
  .detalles .content {
    display: flex;
    justify-content: space-between; }
    .detalles .content .part1 {
      width: 43%; }
      .detalles .content .part1 img {
        width: 100%; }
    .detalles .content .part2 {
      width: 57%;
      padding-left: 75px; }
      .detalles .content .part2 h2 {
        font-weight: 500;
        font-size: 36px; }
      .detalles .content .part2 .caracteristicas1 {
        margin-top: 20px; }
        .detalles .content .part2 .caracteristicas1 div {
          display: flex;
          align-items: flex-start;
          margin-top: 15px; }
          .detalles .content .part2 .caracteristicas1 div img {
            margin-right: 15px;
            margin-top: 3px; }
          .detalles .content .part2 .caracteristicas1 div p {
            font-weight: 400;
            font-size: 21px; }
            .detalles .content .part2 .caracteristicas1 div p span {
              font-weight: 600;
              font-size: 21px; }
      .detalles .content .part2 .caracteristicas2 h3 {
        font-weight: 500;
        font-size: 21px;
        padding-top: 37px; }
      .detalles .content .part2 .caracteristicas2 ul {
        padding-left: 20px;
        padding-top: 18px; }
        .detalles .content .part2 .caracteristicas2 ul li {
          font-weight: 400;
          font-size: 21px;
          padding: 9px 0; }

section.video {
  padding: 100px 0;
  background-image: url(../images/fondo-video.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  section.video .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.video .content h2 {
      font-weight: 400;
      font-size: 29px;
      text-align: center;
      padding-bottom: 50px; }
    section.video .content iframe {
      width: 100%;
      max-width: 1080px;
      height: 554px !important;
      padding: 0 50px; }

section.acordeon {
  padding: 100px 0; }
  section.acordeon h2 {
    text-align: center;
    padding-bottom: 60px; }
  section.acordeon .tabs {
    margin: 0 auto;
    width: 80%;
    border-radius: 8px;
    overflow: hidden; }
  section.acordeon .tab {
    width: 100%;
    color: #000;
    overflow: hidden; }
  section.acordeon .tab-label {
    justify-content: space-between;
    padding: 1em;
    border-radius: 24px;
    border: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    font-weight: 400;
    font-size: 21px;
    display: flex; }
  section.acordeon .tab-label::after {
    content: "❯";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s; }
  section.acordeon .tab-content {
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
    max-height: 0; }
  section.acordeon .tab-content ul {
    padding-left: 40px; }
  section.acordeon .tab-content ul li {
    font-weight: 400;
    font-size: 21px; }
  section.acordeon .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer; }
  section.acordeon .tab-close:hover {
    background: #1a252f; }
  section.acordeon input {
    opacity: 0;
    z-index: -1;
    position: absolute; }
  section.acordeon input:checked + .tab-label::after {
    transform: rotate(90deg); }
  section.acordeon input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    border-radius: 24px;
    background-color: #CDCDCD; }

.contacto {
  padding: 100px 0;
  background-image: url(../images/fondo-contacto.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }
  .contacto .container {
    width: 80%; }
  .contacto h2 {
    font-weight: 400;
    font-size: 29px;
    text-align: center;
    color: #fff; }
  .contacto p {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 21px; }
  .contacto form {
    margin-top: 43px; }
    .contacto form fieldset {
      border: none; }
      .contacto form fieldset .form-colum {
        display: flex; }
        .contacto form fieldset .form-colum div:nth-child(2) {
          margin-left: 34px; }
      .contacto form fieldset .form-group {
        width: 100%;
        position: relative; }
        .contacto form fieldset .form-group input {
          margin-bottom: 30px;
          height: 64px;
          border: none;
          font-size: 20px;
          width: 100%;
          color: #fff;
          background: transparent;
          padding: 0 20px;
          padding-top: 8px;
          border: 2px solid #fff;
          border-radius: 8px; }
          .contacto form fieldset .form-group input:focus {
            outline-style: none; }
        .contacto form fieldset .form-group input[type=number]::-webkit-inner-spin-button,
        .contacto form fieldset .form-group input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }
        .contacto form fieldset .form-group input[type=checkbox] {
          height: 20px;
          width: 20px; }
        .contacto form fieldset .form-group textarea {
          margin-bottom: 50px;
          height: 155px;
          border: none;
          font-size: 20px;
          width: 100%;
          color: #fff;
          border: 2px solid #fff;
          background: transparent;
          padding: 0 20px;
          padding-top: 22px;
          border-radius: 8px; }
          .contacto form fieldset .form-group textarea:focus {
            outline-style: none; }
        .contacto form fieldset .form-group input:valid ~ label,
        .contacto form fieldset .form-group input:focus ~ label,
        .contacto form fieldset .form-group textarea:valid ~ label,
        .contacto form fieldset .form-group textarea:focus ~ label {
          font-size: 14px;
          left: 20px;
          top: 6px; }
        .contacto form fieldset .form-group .form-label {
          position: absolute;
          left: 20px;
          top: 20px;
          color: #fff;
          font-size: 18px;
          font-weight: 400;
          transition: 0.1s linear;
          z-index: 1; }
      .contacto form fieldset .checkbox-box {
        display: flex;
        justify-content: center; }
        .contacto form fieldset .checkbox-box p {
          width: 225px;
          margin-left: 10px;
          color: #fff;
          font-weight: 400;
          font-size: 11px; }
      .contacto form fieldset .form-group.focusin label,
      .contacto form fieldset .form-group.ok label {
        font-size: 14px;
        left: 20px;
        top: 6px; }
      .contacto form fieldset button {
        margin: 0 auto;
        border-radius: 10px;
        -webkit-appearance: none;
        padding: 11px 25px;
        font-weight: 500;
        font-size: 20px;
        background-color: #000;
        color: #fff;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        padding: 15px 69px; }

header .menu ul li.menumovil {
  display: none; }

@media (max-width: 1440px) {
  .grid-productos {
    grid-gap: 40px; }
  .grid-productos .producto .info p {
    font-size: 14px; }
  .grid-productos .producto .info img {
    width: 23px; }
  .grid-productos .producto .info {
    padding: 11px 19px; }
  footer .redes a,
  footer .redes p {
    font-size: 22px; }
  .banner {
    height: 258px; }
  footer .redes img {
    transform: scale(0.8); } }

@media (max-width: 1280px) {
  body {
    position: relative; }
  section.menu-mobile {
    display: block;
    height: 100vh;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000;
    z-index: 10;
    padding: 20px;
    transition: 0.2s linear;
    transform: translateX(100%); }
    section.menu-mobile .top {
      display: flex;
      justify-content: flex-end; }
      section.menu-mobile .top img {
        width: 45px; }
    section.menu-mobile ul {
      padding-left: 30px;
      list-style: none; }
      section.menu-mobile ul li {
        margin: 20px 0;
        font-size: 18px;
        color: #fff; }
        section.menu-mobile ul li a {
          color: #fff;
          text-decoration: none;
          font-size: 18px; }
        section.menu-mobile ul li img {
          margin-left: 10px;
          margin-bottom: 2px;
          transform: rotate(180deg); }
      section.menu-mobile ul ul li img {
        transform: rotate(90deg); }
  section.menu-mobile.open {
    transform: translate(0); }
  header .menu ul li {
    display: none; }
  header .menu ul li.menumovil {
    display: flex;
    margin-right: 0; }
    header .menu ul li.menumovil img {
      width: 45px; }
  .banner .title-content h1 {
    font-size: 30px;
    padding: 14px 15px; }
  .tarj-contacto .content a {
    padding: 11px 35px; }
  .category {
    padding: 70px 0; }
  .banner-img .content .info h2 {
    font-size: 25px; }
  .banner-img .content .info p {
    font-size: 20px; }
  .banner-img {
    padding-top: 50px;
    padding-bottom: 70px; }
  .detalles .container {
    width: 85%; }
  .detalles .content .part2 h2 {
    font-size: 30px; }
  .detalles .content .part2 {
    padding-left: 65px; }
  .detalles,
  section.video,
  section.acordeon {
    padding: 70px 0; } }

@media (max-width: 1150px) {
  .grid-productos {
    grid-template-columns: repeat(3, 1fr); } }

@media (max-width: 1024px) {
  section.video .content iframe {
    height: 495px !important; }
  .banner img {
    top: 30%; }
  main {
    padding-top: 75px; }
  header .logo img {
    width: 138px; }
  footer .redes a, footer .redes p {
    font-size: 20px; }
  footer .redes {
    padding: 0 22px;
    padding-bottom: 50px; }
  footer .copi p {
    font-size: 20px; }
  .banner-img .content img {
    width: 95%; }
  .banner .title-content h1 {
    font-size: 25px; }
  .banner {
    height: 233px; }
  footer .redes div {
    padding-top: 0px; }
  .detalles .content {
    flex-direction: column-reverse; }
  .detalles .content .part2 {
    padding-left: 0px;
    width: 100%; }
  .detalles .content .part1 {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .detalles .content .part1 img {
    max-width: 500px; }
  section.acordeon .tabs {
    margin: 0 auto;
    width: 85%; }
  section.acordeon .tab-label {
    justify-content: space-between;
    padding: 10px 20px; }
  section.acordeon .tab-content ul li {
    font-size: 19px; } }

@media (max-width: 768px) {
  section.video .content iframe {
    height: 358px !important; }
  header .logo img {
    width: 120px; }
  header {
    padding: 10px 0; }
  main {
    padding-top: 65px; }
  .banner {
    height: 194px; }
  .tarj-contacto {
    padding: 13px 0; }
  .tarj-contacto .content p {
    font-size: 15px; }
  .tarj-contacto .content a {
    padding: 8px 20px; }
  .category {
    padding: 50px 0; }
  .grid-productos {
    grid-gap: 20px; }
  .grid-productos .producto .info {
    padding: 8px 15px; }
  .contacto form fieldset .form-colum div:nth-child(2) {
    margin-left: 0; }
  .contacto form fieldset .form-colum {
    flex-direction: column; } }

@media (max-width: 735px) {
  footer .redes {
    flex-direction: column;
    align-items: flex-start; }
  footer .redes div:nth-child(2) {
    margin: 10px 0; }
  footer .redes div:nth-child(2) {
    margin: 40px 0; }
  footer .copi p {
    padding: 14px 0; }
  footer .redes img {
    margin-bottom: 0;
    width: 40px;
    transform: scale(1); }
  .banner-img .content .info h2 {
    font-size: 20px; }
  .banner-img .content .info p {
    font-size: 18px;
    margin-top: 10px; }
  .banner-img {
    padding-top: 30px;
    padding-bottom: 50px; } }

@media (max-width: 700px) {
  .grid-productos {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 500px) {
  section.video .content iframe {
    height: 254px !important;
    padding: 0 15px; }
  .contacto h2 {
    font-size: 23px; }
  .contacto p {
    font-size: 18px; }
  section.acordeon .tab-label {
    border-radius: 20px; }
  .banner {
    height: 167px; }
  .banner img {
    top: 6%; }
  .banner .title-content h1 {
    font-size: 20px; }
  .tarj-contacto .content p {
    font-size: 14px;
    padding: 0 18px; }
  .tarj-contacto .content a {
    font-size: 14px; }
  .banner-img .content img {
    width: 100%; }
  .banner-img .content .info h2 {
    font-size: 18px; }
  .banner-img .content .info p {
    font-size: 16px; }
  footer .redes img {
    width: 30px; }
  footer .redes a, footer .redes p {
    font-size: 18px; }
  footer .redes div:nth-child(2) {
    margin: 35px 0; }
  .detalles, section.video, section.acordeon {
    padding: 50px 0; }
  .detalles .content .part2 h2 {
    font-size: 25px; }
  .detalles .content .part2 .caracteristicas1 div p,
  .detalles .content .part2 .caracteristicas1 div p span,
  .detalles .content .part2 .caracteristicas2 ul li {
    font-size: 20px; } }

@media (max-width: 425px) {
  .tarj-contacto .content {
    flex-direction: column; }
  .tarj-contacto .content p {
    padding: 8px 0; }
  .grid-productos {
    grid-template-columns: repeat(1, 1fr); }
  header .logo img {
    width: 103px; }
  header .menu ul li.menumovil img {
    width: 36px; }
  main {
    padding-top: 56px; } }
